* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff; }

.container {
  width: 1200px; }

header {
  background: #12161C; }
  header #header__logo img {
    width: 100%; }
  header #header__menu .menu {
    padding-top: 23px;
    padding: 23px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto; }
    header #header__menu .menu .menu__item {
      text-align: center;
      display: block;
      text-decoration: none;
      text-transform: uppercase; }
    header #header__menu .menu .menu__item:hover {
      cursor: pointer;
      -webkit-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s;
      color: #fcc; }
  header #header__user .buttons {
    padding-top: 21px;
    padding-bottom: 21px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header #header__user .buttons button {
      font-weight: bold;
      padding: 4px;
      font-size: 14px;
      text-transform: uppercase;
      width: 40%;
      display: block;
      border: solid 1px #fff;
      border-radius: 12px;
      background: #000; }
    header #header__user .buttons #button__login:hover {
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s;
      color: #000;
      background: yellow;
      -webkit-box-shadow: inset 0px 0px 22px 13px #FFFFFF;
      box-shadow: inset 0px 0px 22px 3px #FFFFFF; }
    header #header__user .buttons #button__register:hover {
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s;
      background: #00f;
      -webkit-box-shadow: inset 0px 0px 22px 13px #FFFFFF;
      box-shadow: inset 0px 0px 22px 3px #FFFFFF; }

#promo_buy {
  background: #000;
  padding-top: 80px; }
  #promo_buy .form__buy h2 {
    text-transform: uppercase;
    font-weight: bold; }
