@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff; }

.container {
  width: 1200px; }

header {
  background: #12161C; }
  header #header__logo img {
    width: 100%; }
  header #header__menu .menu {
    padding-top: 23px;
    padding: 23px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto; }
    header #header__menu .menu .menu__item {
      text-align: center;
      display: block;
      text-decoration: none;
      text-transform: uppercase; }
    header #header__menu .menu .menu__item:hover {
      cursor: pointer;
      -webkit-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s;
      color: #fcc; }
  header #header__user .buttons {
    padding-top: 21px;
    padding-bottom: 21px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header #header__user .buttons button {
      font-weight: bold;
      padding: 4px;
      font-size: 14px;
      text-transform: uppercase;
      width: 40%;
      display: block;
      border: solid 1px #fff;
      border-radius: 12px;
      background: #000; }
    header #header__user .buttons #button__login:hover {
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s;
      color: #000;
      background: yellow;
      -webkit-box-shadow: inset 0px 0px 22px 13px #FFFFFF;
      box-shadow: inset 0px 0px 22px 3px #FFFFFF; }
    header #header__user .buttons #button__register:hover {
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s;
      background: #00f;
      -webkit-box-shadow: inset 0px 0px 22px 13px #FFFFFF;
      box-shadow: inset 0px 0px 22px 3px #FFFFFF; }

/*POP-UP-REG*/
.content {
  z-index: 1;
  margin: 40px auto 0px auto;
  width: 300px;
  height: 450px;
  padding: 10px;
  background-color: #c5c5c5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000; }
  .content button {
    display: block;
    color: #000; }
  .content input {
    margin-bottom: 10px;
    color: #000; }

.popup {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px; }
  .popup a {
    padding: 15px;
    display: block;
    text-align: right; }
    .popup a i {
      font-size: 40px;
      font-weight: 300; }

#promo_buy {
  background: url("../assets/images/promo_bg.jpg");
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-shadow: inset -1px 11px 20px 2px #12161c;
  box-shadow: inset -1px 11px 20px 2px #12161c; }
  #promo_buy .form__buy h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px; }
  #promo_buy .form__buy input {
    text-align: right;
    margin-bottom: 20px;
    width: 300px; }
  #promo_buy .banner_promo img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000; }
  #promo_buy .banner_promo img:hover {
    cursor: pointer; }
